html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body, h1, p {
  margin: 0;
}
body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: radial-gradient(circle, #9bf8f3 0%, #6e7af7 100%);
}

.grid {
  display: grid;
  gap: 1.5em;
}

.section {
  --border: .1em solid transparent;
  --radius: .5em;
  --pri-clr: #0C356A;
  --sec-clr: #FFF0CE;
  --ter-clr: #FFC436;

  inline-size: clamp(20rem, 90vw, 25rem);
  padding: 1.5em 1em 2em;
  background-color: var(--pri-clr);
  color: var(--sec-clr);
  text-align: center;
  border: var(--border);
  border-radius: var(--radius);
}
@media (orientation: landscape) {
  .section {
    margin-block: 6em;
  }
}
.title {
  font-size: 2.5rem;
  text-wrap: balance;
  line-height: 1.1;
}
.accent {
  color: var(--ter-clr);
}
.desc {
  font-size: 1.25rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
.btn, .input {
  --radius: .3em;

  padding: .4em .8em;
  inline-size: 12rem;
  font-size: 1.05rem;
  text-align: center;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--radius);
  border-color: currentColor;
  color: var(--ter-clr);
}
.btn {
  font-weight: 600;
  text-transform: capitalize;
  border-bottom-width: .2em;
}
.input {
  color: inherit;
}

.footer {
  --pri-clr: #27005D;
  --sec-clr: #9400FF;

  margin-top: -6.6rem;
  padding-block: 2em;
  font-weight: 500;
  text-align: center;
  color: var(--pri-clr);
}
.attr-link {
  margin-inline: .5em;
  font-weight: 700;
  text-decoration: none;
  color: var(--sec-clr);
  position: relative;
}
.attr-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -.2em;
  inline-size: 0;
  block-size: .15em;
  background-color: currentColor;
  transition: inline-size .3s ease;
}

.btn:disabled {
  opacity: .5;
}
.btn:focus-visible,
.attr-link:focus-visible {
  outline: .15em dotted currentColor;
  outline-offset: .15em;
}

@media (hover:hover) {
  .btn:hover {
    cursor: crosshair;
  }
  .attr-link:hover::after {
    inline-size: 100%;
    left: 0;
  }
}
